.banderin {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 12px solid rgb(148 163 184);
    z-index: 99;
    margin-bottom: -1px;
}

.menu-header {
    overflow-x: hidden;
}

.menu-header-fade-out {
    animation: menu-anim-fadeout 0.3s ease-in-out;
}

.menu-header-fade-in {
    animation: menu-anim-fadein 0.3s ease-in-out;
}

.menu-anim-fadein-reverse{
    animation: menu-anim-fadein-reverse 0.3s ease-in-out;
}

.menu-anim-fadeout-reverse{
    animation: menu-anim-fadeout-reverse 0.3s ease-in-out;
}

@keyframes menu-anim-fadeout {
    30% {
        opacity: 0;
    }

    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes menu-anim-fadein {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    70% {
        opacity: 0;
    }
}

@keyframes menu-anim-fadein-reverse {
    30% {
        opacity: 0;
    }

    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes menu-anim-fadeout-reverse {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    70% {
        opacity: 0;
    }
}